@import '../abstract/variaveis';

#information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image-information{
        min-width: auto;
        margin-top: 3rem;
    }
    .text-information{
        text-align: center;

       h3{
        font-size: $tamanho-do-texto /2;
        color: $cor-secundaria;
       }
       h4{
        color: $cor-primaria;
        font-weight: 300;
        font-size: $tamanho-do-texto /1.5;
        margin: 0.7rem 0;
       }
       p{
        font-size: $tamanho-do-texto /3;
        font-weight: 300;
        color: $cor-primaria;
        line-height: 1.25rem;
        margin: 1.2rem  auto;
        max-width: 400px;
       }
    }

}

@media screen and (max-width:414px) {
    .image-mobile{
        width: 350px;
        

}
}