@import'../abstract/variaveis';


#servicos{
    margin: 80px;
    h4{
        font-size: $tamanho-do-texto /2.5;
        color: $cor-secundaria;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        margin: 1rem;
    }
    h3{
        text-align: center;
        font-size: $tamanho-do-texto /1.2;
        margin-bottom: 80px;
        font-weight: 300;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        .card{
            margin: .5rem 0 .5rem .5rem;
            width: 450px;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            .card-mobile{
                display: none;
            }
            h5{
                font-size: $tamanho-do-texto /1.5;
                font-weight: 300;
                margin: 20px 0;
                color: $cor-primaria;   
            }
            p{
                font-size: $tamanho-do-texto /3;
                font-weight: 300;
                color: $cor-primaria;
                line-height: 1.25rem;
                margin: 0.5rem;

            }
            .img-container{
                padding-bottom: 2px;
                img{
                    max-width: 100%;

                }
            }
        }
    }
}
@media screen and (max-width:1325px) {
    #servicos{
        h3{
            font-size: $tamanho-do-texto /2.2;
        }
    }
}

@media screen and (max-width:768px) {
    #servicos{
        margin-top: 2rem;
        .cards-mobile{
            display: block;
        }
        .card{
            margin: 1.5rem auto;
            padding-bottom: 1rem;
            min-width: 80%;
        }
    }
}

@media screen and (max-width:414px) {
    #servicos{
        h3{
            margin-bottom: 2rem;
        }
        margin:2rem 2rem 2rem 2rem;
        .card{
            max-width: 350px;
            margin: 0;
        }
    }

}

@media screen and (max-width:375px) {
   #servicos{
    .card{
        max-width: 300px;
        
    }
   }
}



