html, body {
  font-family: "Roboto", "Roboto", sans-serif;
}

nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #495371;
}
nav ul a:hover {
  border-bottom: 2px solid #74959A;
}

@media screen and (max-width: px) {
  ul {
    background-color: red;
  }
}
.banner {
  background: url(../imagens/banner.jpeg) center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.banner .inner-banner {
  padding: 3rem;
  background-color: #F1E0AC;
  opacity: 0.7;
  border-radius: 1.2rem;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  color: #495371;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #74959A;
}

@media screen and (max-width: 414px) {
  .inner-banner {
    margin: 0 3rem;
  }
}
#servicos {
  margin: 80px;
}
#servicos h4 {
  font-size: 1.2rem;
  color: #74959A;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1rem;
}
#servicos h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 80px;
  font-weight: 300;
}
#servicos .cards {
  display: flex;
  justify-content: space-between;
}
#servicos .cards .card {
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 450px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
#servicos .cards .card .card-mobile {
  display: none;
}
#servicos .cards .card h5 {
  font-size: 2rem;
  font-weight: 300;
  margin: 20px 0;
  color: #495371;
}
#servicos .cards .card p {
  font-size: 1rem;
  font-weight: 300;
  color: #495371;
  line-height: 1.25rem;
  margin: 0.5rem;
}
#servicos .cards .card .img-container {
  padding-bottom: 2px;
}
#servicos .cards .card .img-container img {
  max-width: 100%;
}

@media screen and (max-width: 1325px) {
  #servicos h3 {
    font-size: 1.3636363636rem;
  }
}
@media screen and (max-width: 768px) {
  #servicos {
    margin-top: 2rem;
  }
  #servicos .cards-mobile {
    display: block;
  }
  #servicos .card {
    margin: 1.5rem auto;
    padding-bottom: 1rem;
    min-width: 80%;
  }
}
@media screen and (max-width: 414px) {
  #servicos {
    margin: 2rem 2rem 2rem 2rem;
  }
  #servicos h3 {
    margin-bottom: 2rem;
  }
  #servicos .card {
    max-width: 350px;
    margin: 0;
  }
}
@media screen and (max-width: 375px) {
  #servicos .card {
    max-width: 300px;
  }
}
#cupom {
  background-color: #F1E0AC;
  padding: 4rem;
  text-align: center;
}
#cupom .texto {
  color: #495371;
}
#cupom .texto h2 {
  margin: 2rem;
  font-size: 1.7647058824rem;
}
#cupom .input {
  margin: 0 auto;
  width: 575px;
  border-radius: 10px;
  border: 4px solid white;
  background-color: white;
}
#cupom .input input {
  border-radius: 10px;
  height: 30px;
  border: none;
  width: 540px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
#cupom .input:hover, #cupom .input:focus-within {
  box-shadow: 1px 1px 8px 1px #495371;
  outline: none;
}
#cupom button {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  background-color: #495371;
  color: #74959A;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 2px #495371;
  border-radius: 5px;
}
#cupom button:hover {
  color: #495371;
  background-color: #74959A;
  border-color: #495371;
}

@media screen and (max-width: 414px) {
  #cupom .input {
    margin: 0;
    width: 286px;
  }
  #cupom .input input {
    border-radius: 10px;
    height: 25px;
    width: 250px;
    font-size: 14px;
  }
}
#information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#information .image-information {
  min-width: auto;
  margin-top: 3rem;
}
#information .text-information {
  text-align: center;
}
#information .text-information h3 {
  font-size: 1.5rem;
  color: #74959A;
}
#information .text-information h4 {
  color: #495371;
  font-weight: 300;
  font-size: 2rem;
  margin: 0.7rem 0;
}
#information .text-information p {
  font-size: 1rem;
  font-weight: 300;
  color: #495371;
  line-height: 1.25rem;
  margin: 1.2rem auto;
  max-width: 400px;
}

@media screen and (max-width: 414px) {
  .image-mobile {
    width: 350px;
  }
}
footer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border-top: 1px solid black;
}
footer i {
  color: red;
}/*# sourceMappingURL=style.css.map */